<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RepositoryFolder" value="D:\git\testenc2"/>
		<!--<add key="RepositoryFolder" value="C:\temp\git\rmk_clone"/>-->
		<!--<add key="RepositoryFolder" value="C:\r"/>-->
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
